body {
    background: linear-gradient(310deg, #000000, #1e2121);
    background-size: 800% 800%;

    -webkit-animation: AnimatedGradient 30s ease infinite;
    -moz-animation: AnimatedGradient 30s ease infinite;
    animation: AnimatedGradient 30s ease infinite;
}


@-webkit-keyframes AnimatedGradient {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@-moz-keyframes AnimatedGradient {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}
@keyframes AnimatedGradient {
    0%{background-position:0% 7%}
    50%{background-position:100% 94%}
    100%{background-position:0% 7%}
}